<div class="modal fade add-recipe-modal" id="editRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Recipe</h3>
        <button type="button" class="close recipe-form-close" data-dismiss="modal" aria-label="Close">
          <i class="icon ion-close"></i>
        </button>
      </div>
      <%= form_with model: @recipe, id: "edit-recipe-form", class: "edit-recipe-form" do |f| %>
        <%= render 'form_fields', f: f %>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary save-recipe" data-disable-with="Saving...">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
