@mixin auth-form($padding) {
  width: 35%;
  margin: 5% auto;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: $padding;

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  h6 {
    font-size: 1rem;
  }
}

@mixin buttons {
  display: block !important;
  margin: auto !important;
  padding: 0.5rem 2rem !important;
  color: #ffffff !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
    color: $grey !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
  }
}

@mixin auth-link {
  color: $secondary-color;
  font-weight: 500;

  &:hover {
    text-decoration: none;
  }
}

@mixin text-link-style {
  a {
  color: #000000;
  text-decoration: none;
  
    &:active, &:visited, &:focus, &:hover {
      color: #000000;
      text-decoration: none;
    }

    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }
}
