// --------------------------------------------------------------
// This file contains all variable declarations, if any.
// --------------------------------------------------------------

// Colors
$primary-color: #9a3325;
$secondary-color: #5f64af;
$grey-1: #424242;
