// --------------------------------------------------------------
// This file contains all variable declarations, if any.
// --------------------------------------------------------------

// Colors
$primary-color: #9a3325;
$secondary-color: #5f64af;
$grey: #424242;
$light-grey: #808080;
$dark : #343a40;
$red: #ff0000;
