// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

.form-control {
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);

  &:focus {
    border-color: #ced4da;
    box-shadow: inherit;
  }
}

.register-form {
  @include  auth-form(1% 2% 2%);

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .register-btn {
    @include buttons;
  }

  .login-link {
    @include auth-link;
  }
}

.login-form {
  @include  auth-form(1% 2%);

  .login-btn {
    @include buttons;
  }

  .register-link {
    @include auth-link;
  }

  .forgot-password {
    float: right;
    padding-top: 0.5rem;
  }
}
