// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#register-form {
  position: absolute;
  top: 35%;
  z-index: 3;
  right: 25%;
  color: white;
}
