<div class="category-header">
  <h1 class="text-center">Categories</h1>
  <p class="text-center">We've split up recipes by their main ingredients just to make it easier for you. Dig in!</p>
</div>

<div class="category-wrapper">
  <% @categories.each do |category| %>
    <%= link_to category_recipes_path(category.id) do %>
      <div class="category-item">
        <%= image_tag(category.category_image) %>
        <div class="category-desc">
          <h3><%= category.name %></h3>
        </div>
      </div>
    <% end %>
  <% end%>
</div>
