<footer class="footer">
  <div class="container">
    <span>
      Copyright © <%= Time.now.year %> &nbsp; Temitope Joloko
    </span>
    <span>
      <%= image_tag("github.png") %>
      <a href="https://github.com/temiooo"> temiooo </a>
    </span>
  </div>
</footer>
